/WTF/Account/Class/*/SavedVariables
/WTF/Account/Class/*/SavedVariables/*
/WTF/Account/Class/*/AddOns.txt
/WTF/Account/Class/*/AddOns.txt

/WTF/Account/MV2SQUALL/Barthilas/*
/WTF/Account/MV2SQUALL/Caelestrasz/*
/WTF/Account/MV2SQUALL/Emerald Dream/*
/WTF/Account/MV2SQUALL/Frostmourne/*
/WTF/Account/MV2SQUALL/Gundrak/*
/WTF/Account/MV2SQUALL/Jubei'Thos/*
/WTF/Account/MV2SQUALL/Saurfang/*
/WTF/Account/MV2SQUALL/Suramar/*
/WTF/Account/MV2SQUALL/Tichondrius/*

.svn
